main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    h1{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .Separador{
        height: 1rem;
      
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }
}
footer{
    width: 100%;
    text-align: center;
    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}

@media(min-width:1024px){
  h1{
    width: 50%;
  }
}